<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">

</head>
<body>
    <div class="container">
        <h1>Weather in {{ weather_data.city }}</h1>
        <p>Temperature: {{ weather_data.temperature_celsius }}°C / {{ weather_data.temperature_fahrenheit }}°F</p>
        <p>Precipitation: {{ weather_data.precipitation_percent }} mm/h</p>
        <p>Description: {{ weather_data.description }}</p>
        <p>Humidity: {{ weather_data.humidity }}%</p>
        <p>Wind Speed: {{ weather_data.wind_speed }} m/s</p>
        <p>Current Time: {{ weather_data.current_time }}</p>
        </div>
        <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Weather Icon">
    </div>

</body>
</html>
